/* latin */
@font-face {
  font-family: "Disket Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Disket-Mono-Bold.ttf") format("truetype");
}
/* latin */
@font-face {
  font-family: "Disket Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Disket-Mono-Regular.ttf") format("truetype");
}
